
html {
    box-sizing: border-box;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 10px;
    text-align: center;
    background-color: sandybrown;
    color: white;
}

.con {
    padding: 0 16px;
}
