*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #000;
}
ul li{
    list-style: none;
}
body{
    font-size: 14px;
}
div{
    text-align:center;
    margin-top:10px;
    /*margin-bottom:10px;*/
}
.container{
    width: 1000px;
    margin: 0 auto;
}
header {
    padding: 10px 0;
    background-color: #e8a66c;
}
header .container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
header img{
    margin-right: 50px;
}
header .menu a{
    text-align: center;
    margin-left: 50px;
    color: #000;
    font-size: 16px;
}
header .menu a:hover{
    color: #fff;
}
#calendar{
    width: 400px;
    margin:auto;
}


button{
    width: 25%;
    float:left;
    height:40px;
    background: #e8a66c;
}

#month{
    width: 50%;
    float:left;
}

.everyday{
    width: 14%;
    float:left;
}
.fot .container{
    display: flex;
    justify-content: space-around;
}
.fot{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #efefef;
}
.fot a{
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
}