
#cnav{
  padding-left: 60px;
  padding-top: 15px;
  float: left;
  line-height: 20px;
  margin: auto;
  background-color: sandybrown;
  width: 100%;
}
#show1 {

  margin: auto;
  padding-left: 40px;
}
li{
  padding-top: 40px;
}

#show2 {
  padding-top: 25px;
  margin: auto;
  padding-right: 20px;



}
.top:hover{
  color: #eeeeee;

}

.top{
  color: black;
  display: inline-block;
  height: 30px;
  padding: 1px 30px;
  text-decoration: none;

  text-align: center;
  line-height: 40px;

}
.bottom{
  color: black;
  display: inline-block;
  height: 30px;
  padding: 1px 30px;

  text-decoration: none;

  text-align: center;
  line-height: 40px;
}

li{
  float: left;
}

*{
  margin: 0;
  padding: 0;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #efefef;
  color: white;
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;

}

.s_icons{
  height: 50px;
  width: 50px;
  border: 1px solid plum;
  margin: 0.45rem;
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  border-radius: 50%;

}
.s_icons:hover{
  color: red;
  border-color: dodgerblue;
}


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-container {
  width: 80%;
  height: 80%;
  position: relative;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

#map-container a {
  text-decoration: none;
  color: #1967d2;
}

#map-container button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  font-size: inherit;
  cursor: pointer;
}

#gmp-map {
  position: absolute;
  left: 22em;
  top: 0;
  right: 0;
  bottom: 0;
}

@media only screen and (max-width: 876px) {
  #gmp-map {
    left: 0;
    bottom: 50%;
  }}

